Cluster ingress information:
----------------------------

    Deployed to namespace:         {{ cluster_support_namespace }}
    Ingress class:                 {{ cluster_ingress_class }}
    Ingress host:                  {{ cluster_hostname }}
