Dashboard Information:
----------------------

    Deployed to namespace:         {{ cluster_support_namespace }}
    Dashboard is available at:     http://{{ cluster_hostname }}:{{ dashboard_port }}

    The first time you use the link to the Dashboard you will see a dialog requesting authentication.
    This configuration disables Dashbaord authentication. Clicking "Skip" will take you to the Dashboard.