Chartmuseum information:
------------------------

    Deployed to namespace:         {{ cluster_support_namespace }}
    Helm repository Path:          http://{{ cluster_hostname }}/chartmuseum

    To update your local Helm cache with the contents of the cluster Helm
    repository, execute the command:

        helm repo update


