Private Docker Registry Information:
------------------------------------

    Deployed to namespace:         {{ cluster_support_namespace }}
    Registry host:                 {{ registry_hostname }}
