protocolHttp: true

service:
  type: NodePort
  externalPort: 9090
  nodePort: {{ dashboard_port }}

extraArgs:
  - --enable-skip-login
  - --enable-insecure-login
  - --insecure-bind-address=0.0.0.0

metricsScraper:
  enabled: true
