apprepository:
  initialRepos:
  - name: bitnami
    url: https://charts.bitnami.com/bitnami
  - name: local
    url: http://helmrepo-chartmuseum.{{ cluster_support_namespace }}/chartmuseum

ingress:
  enabled: true
  hostname: {{ cluster_hostname }}
  path: /kubeapps
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
    kubernetes.io/ingress.class: {{ cluster_ingress_class }}
