persistence:
  enabled: true

env:
  open:
    STORAGE: local
    DISABLE_API: false
    ALLOW_OVERWRITE: true
    CONTEXT_PATH: /chartmuseum

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: "{{ cluster_ingress_class }}"
  hosts:
    - name: "{{ cluster_hostname }}"
      path: /chartmuseum

service:
  externalPort: 80
